{% extends "base.html" %}

{% block title %} 在线问诊 {% endblock %}

{% block head%}
<script src="/static/basic_js/jsrender.min.js"></script>
<script type="text/javascript">
	var data_rec = {};
	var ms_res = {};
	var question_res = {};
	var choosed_module;
	var choosed_disease;
	var adv_question_res = {};


	function tmpl_render_html(tmpl, target, d){
		var html = $(tmpl).render(d);
		$(target).html(html);
	}

	function ajax_post_json(target, json){
		$.ajax({
		  type: 'POST',
		  url: target,
		  data: JSON.stringify (json), // or JSON.stringify ({name: 'jonas'}),
		  //success: function(d) { alert('data: ' + d); },
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

	function get_ms_states(){
		$.getJSON("ajax/get_states/", function(json){
			data_rec['states'] = json['states'];
			ms_res['check'] = [];
			for (var i = 0; i < json['states'].length; i++){
				ms_res['check'].push(0);
			}
			//alert(json['name']);
			tmpl_render_html('#ms_tmpl', '#main', data_rec);
		});
	}

	function switch_ms_check(id){
		ms_res['check'][id] = 1 - ms_res['check'][id];
	}

	function send_ms_checks(){
		$.ajax({
		  type: 'POST',
		  url: "ajax/get_modules/",
		  data: JSON.stringify (ms_res), // or JSON.stringify ({name: 'jonas'}),
		  complete: function(d) { 
				d = eval("("+d.responseText+")"); 
				data_rec['modules'] = d['modules']; 
				tmpl_render_html('#module_tmpl', '#main', data_rec);
				//$(':radio').radiocheck();
		  },
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

	function choose_module(module_id){
		choosed_module = data_rec['modules'][module_id];
		$.ajax({
		  type: 'POST',
		  url: "ajax/get_module_questions/",
		  data: JSON.stringify ({"module" : choosed_module}), // or JSON.stringify ({name: 'jonas'}),
		  complete: function(d) { 
				d = eval("("+d.responseText+")"); 
				data_rec['questions'] = d['questions']; 
				question_res['option'] = [];
				for (var i = 0; i < d['questions'].length; i++){
					question_res['option'].push(-1);
				}
				tmpl_render_html('#question_tmpl', '#main', data_rec);
				
		  },
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

	function switch_option(question, option){
		question_res['option'][question] = option;
	}

	function send_question_res(){
		for (var i = 0; i < question_res['option'].length; i++){
			if (question_res['option'][i] == -1){
				alert("请完成所有题目，再提交。");
				return;
			}
		}
		question_res['module'] = choosed_module;
		$.ajax({
		  type: 'POST',
		  url: "ajax/get_res/",
		  data: JSON.stringify (question_res), // or JSON.stringify ({name: 'jonas'}),
		  complete: function(d) { 
				d = eval("("+d.responseText+")"); 
				data_rec['diseases'] = d['diseases']; 
				tmpl_render_html('#res_tmpl', '#main', data_rec);
		  },
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

	function change_modal(disease_name){
		document.getElementById('myModalLabel').innerHTML=disease_name;
		document.getElementById('myModalBody').innerHTML='Loading...';
		$.ajax({
		  type: 'POST',
		  url: "ajax/get_details/",
		  data: JSON.stringify ({'disease':disease_name}), // or JSON.stringify ({name: 'jonas'}),
		  complete: function(d) { 
				d = eval("("+d.responseText+")"); 
				document.getElementById('myModalBody').innerHTML=d['details'];		  
			},
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

	function adv_diagnosis(disease_name){
		choosed_disease = disease_name;
		$.ajax({
		  type: 'POST',
		  url: "ajax/get_disease_questions/",
		  data: JSON.stringify ({'module':question_res['module'], 'option':question_res['option'], 'disease': choosed_disease}), // or JSON.stringify ({name: 'jonas'}),
		  complete: function(d) { 
				d = eval("("+d.responseText+")"); 
				data_rec['adv_questions'] = d['adv_questions']; 
				adv_question_res['option'] = [];
				for (var i = 0; i < d['adv_questions'].length; i++){
					adv_question_res['option'].push(-1);
				}
				tmpl_render_html('#adv_question_tmpl', '#main', data_rec);	  
			},
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

	function adv_switch_option(question, option){
		adv_question_res['option'][question] = option;
	}

	function send_adv_question_res(){
		for (var i = 0; i < adv_question_res['option'].length; i++){
			if (adv_question_res['option'][i] == -1){
				alert("请完成所有题目，再提交。");
				return;
			}
		}
		adv_question_res['disease'] = choosed_disease;
		$.ajax({
		  type: 'POST',
		  url: "ajax/get_treatment/",
		  data: JSON.stringify (adv_question_res), // or JSON.stringify ({name: 'jonas'}),
		  complete: function(d) { 
				d = eval("("+d.responseText+")"); 
				data_rec['treatment'] = d['treatment']; 
				document.getElementById('diagnosis_res').value=d['treatment'];
		  },
		  contentType: "application/json",
		  dataType: 'text'
		});
	}

</script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="panel panel-default col-sm-10 col-sm-offset-1">
		<div class="panel-body">
			<div id="main">

			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
        Loading...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{# 加载中的模板 #}
{% verbatim %}
<script id="load_tmpl" type="text/x-jsrender">
<div class="col-sm-10 col-sm-offset-1">
	<div class="jumbotron">
		<h1>Loading...</h1>
	</div>
</div>
</script>
{% endverbatim %}

{# 基于症状推荐模块的模板 #}
{% verbatim %}
<script id="ms_tmpl" type="text/x-jsrender">
	<div class="col-sm-10 col-sm-offset-1">
		<small><h1>请勾选符合的症状</h1></small>
		<div class="alert alert-info" role="alert">认真完成该部分,将有助于我们更好地分析。</div>
		<br />
		<div class="col-sm-10 col-sm-offset-1">
			{{for states}}
				<label class="checkbox col-sm-4" for="q{{:#index}}">
				<input type="checkbox" value="" id="q{{:#index}}" class="ms_check" onclick="switch_ms_check({{:#index}});">
					{{:#data}}
				</label>
			{{/for}}
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<br />
			<br />
			<br />
			<a class="btn btn-primary btn-lg" onclick="send_ms_checks();" role="button">提交</a>
			<br />
			<br />
			<br />
		</div>

	</div>
	<script type="text/javascript">
		for (var i = 0; i < ms_res['check'].length; i++){
			ms_res['check'][i] = 0;
		}
		$(':checkbox').radiocheck();
	</script>
</script>
{% endverbatim %}

{# 推荐的模块的模板 #}
{% verbatim %}
<script id="module_tmpl" type="text/x-jsrender">
<div class="col-sm-10 col-sm-offset-1">
	<small>
		<h1>
			请选择模块
			<small><a href="#" onclick="tmpl_render_html('#ms_tmpl', '#main', data_rec);">返回症状选择</a></small>
		</h1>
	</small>
		<div class="alert alert-info" role="alert">以下是根据症状推荐出的模块</div>
		<br />
		<div class="col-sm-10 col-sm-offset-1">
			{{for modules}}
				<div class="col-sm-4">
					<a class="btn btn-primary btn-embossed" onclick="choose_module({{:#index}});" role="button">{{:#data}}</a>
				</div>
			{{/for}}
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
</div>
</script>
{% endverbatim %}

{# 具体问题的模板 #}
{% verbatim %}
<script id="question_tmpl" type="text/x-jsrender">
<div class="col-sm-10 col-sm-offset-1">
	<small>
		<h1>
			请完成以下问卷
			<small><a href="#" onclick="tmpl_render_html('#module_tmpl', '#main', data_rec);">返回模块选择</a></small>
		</h1>
	</small>
		<div class="alert alert-info" role="alert">认真完成该部分,将有助于我们更好地分析。</div>
		<br />
		<div class="col-sm-10 col-sm-offset-1">
			{{for questions}}
				<p><strong>{{:#index}}.{{:question}}</strong></p>
				{{for options ~parentIndex=#index}}
					<label class="radio" for="q{{:~parentIndex}}{{:#index}}">
					<input type="radio" class="quest_radio" name="r{{:~parentIndex}}" value="" id="q{{:~parentIndex}}{{:#index}}" data-toggle="radio" onclick="switch_option({{:~parentIndex}}, {{:#index}});">
					{{:#data}}
					</label>
				{{/for}}
				<br />
			{{/for}}
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<br />
			<br />
			<br />
			<a class="btn btn-primary btn-lg" onclick="send_question_res();" role="button">提交</a>
			<br />
			<br />
			<br />
		</div>
</div>
	<script type="text/javascript">
		for (var i = 0; i < question_res['option'].length; i++){
			question_res['option'][i] = -1;
		}
		$(':radio').radiocheck();
	</script>
</script>
{% endverbatim %}

{# 展示结果的模板 #}
{% verbatim %}
<script id="res_tmpl" type="text/x-jsrender">
<div class="col-sm-10 col-sm-offset-1">
	<small>
		<h1>
			预测结果
			<small><a href="#" onclick="tmpl_render_html('#question_tmpl', '#main', data_rec);">返回问题回答</a></small>
		</h1>
	</small>
		<div class="alert alert-warning" role="alert">测试结果仅供参考，请及时就医</div>
		<br />
		<div class="col-sm-10 col-sm-offset-1">
			{{for diseases}}
			<div class="row">
				<div class="">
					{{:name}}&nbsp;&nbsp;&nbsp;{{:prob * 100}}%
					&nbsp;&nbsp;&nbsp;
					<a href="#" onclick="change_modal('{{:name}}');" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</a>
					&nbsp;&nbsp;&nbsp;
					<a href="#" onclick="adv_diagnosis('{{:name}}');">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
				</div>
				<div class="progress">
				<div class="progress-bar progress-bar-success" style="width: {{:prob * 100}}%;"></div>
				</div>
			</div>
			{{/for}}
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<br />
			<br />
			<br />
			<a href="#">More...</a>
			<br />
			<br />
			<br />
		</div>
		</div>
</script>
{% endverbatim %}

{# 进一步诊断的具体问题的模板 #}
{% verbatim %}
<script id="adv_question_tmpl" type="text/x-jsrender">
<div class="col-sm-10 col-sm-offset-1">
	<small>
		<h1>
			进一步诊断
			<small><a href="#" onclick="tmpl_render_html('#res_tmpl', '#main', data_rec);">返回预测结果</a></small>
		</h1>
	</small>
		<div class="alert alert-info" role="alert">辅助诊断部分需要在医院进行</div>
		<br />
		<div class="col-sm-10 col-sm-offset-1">
			{{for adv_questions}}
				<p><strong>{{:#index}}.{{:question}}</strong></p>
				{{for options ~parentIndex=#index}}
					<label class="radio" for="adv_q{{:~parentIndex}}{{:#index}}">
					<input type="radio" class="quest_radio" name="adv_r{{:~parentIndex}}" value="" id="adv_q{{:~parentIndex}}{{:#index}}" data-toggle="radio" onclick="adv_switch_option({{:~parentIndex}}, {{:#index}});">
					{{:#data}}
					</label>
				{{/for}}
				<br />
			{{/for}}
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<br />
			<a class="btn btn-primary btn-lg" onclick="send_adv_question_res();" role="button">生成诊断建议</a>
			<br />
			<br />
			<input id="diagnosis_res" type="text" class="form-control" placeholder="诊断建议" aria-describedby="sizing-addon1">
			<br />
		</div>
</div>
	<script type="text/javascript">
		for (var i = 0; i < question_res['option'].length; i++){
			question_res['option'][i] = -1;
		}
		$(':radio').radiocheck();
	</script>
</script>
{% endverbatim %}


{% include "footer.html" %}

<script type="text/javascript">
	tmpl_render_html("#load_tmpl", "#main", data_rec);
	get_ms_states();
</script>

{% endblock %}
