<footer class="footer">
	 <div class="container">
		<div class="row footer-bottom">
		  <ul class="list-inline text-center">
			<!-- <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备XXXXX号</a></li>
			<li>京公网安备XXXXXXX</li>
			<li><a href="/about">About</a></li>
			<li><a href="/terms">使用条款</a></li>
			<li><a href="/piracy">隐私与安全</a></li>
			<li><a href="/help">帮助</a></li>
			<li><a href="/FAQ">FAQ</a></li> -->
			<li><a href="">PKUSEI</a></li>
		  </ul>
		</div>
	 </div>
</footer>
